[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
djangorestframework = "*"
drf-yasg2 = "*"
drf-yasg = "*"
django-filter = "*"
djangorestframework-jwt = "*"
psycopg2-binary = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.8"
